config openvpn client
	option enabled 0
	option config /etc/openvpn/client/client.ovpn

config openvpn server
	option enabled 0
	option port 1194
	option proto udp
	option dev tun
	option ca /etc/openvpn/server/ca.crt
	option cert /etc/openvpn/server/server.crt
	option key /etc/openvpn/server/server.key
	option dh /etc/openvpn/server/dh1024.pem
	option server "10.8.0.0 255.255.255.0"
	option topology subnet
	option client_to_client 1
	option duplicate_cn 1
	option keepalive "10 120"
	list data_ciphers 'AES-256-GCM'
	option data_ciphers_fallback 'AES-128-CBC'
	option compress lz4
	option max_clients 100
	option persist_key 1
	option persist_tun 1
	option user nobody
	option status /tmp/openvpn-status.log
	option verb 3
