
config wifi-device 'radio0'
	option type 'qcawificfg80211'
	option phy 'wifi0'
	option dbdc_enable '0'
	option delay_stavapup '0'
	option hwmodes '11bgnaxbe'
	option htbw 'auto'
	option country 'DE'
	option hwmode '11bgnaxbe'
	option channel 'auto'
	option txpower '100'
	option no_vlan '1'
	option disabled '0'

config wifi-iface 'wlan00'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ifname 'ath0'
	option mcastenhance '2'
	option macfilter 'deny'
	option wps_pbc '1'
	option rrm '1'
	option wnm '1'
	option i18name '2.4G'
	option encryption 'none'
	option ssid 'Cudy-R65-9300'

config wifi-iface 'wlan01'
	option device 'radio0'
	option i18name '2.4G'
	option ifname 'ath01'
	option mode 'sta'
	option extap '1'
	option ssid 'Cudy-default'
	option encryption 'none'
	option network 'wan'
	option mld 'mld1'
	option disabled '1'

config wifi-iface 'wlan02'
	option device 'radio0'
	option i18name '2.4G'
	option ifname 'ath02'
	option mode 'ap'
	option ssid 'Cudy-Guest-2.4G'
	option encryption 'none'
	option macfilter 'deny'
	option multissid '1'
	option network 'lan'
	option disabled '1'

config wifi-iface 'wlan03'
	option device 'radio0'
	option i18name '2.4G'
	option ifname 'ath03'
	option network 'lan'
	option mode 'ap'
	option addr4 '1'
	option encryption 'psk2'
	option macfilter 'deny'
	option multissid '1'
	option hidden '1'
	option ssid 'Cudy-default'
	option key '12345678'
	option mld 'mld2'

config wifi-iface 'wlan04'
	option device 'radio0'
	option i18name '2.4G'
	option ifname 'ath04'
	option network 'lan'
	option mode 'ap'
	option ssid 'Cudy-MLO'
	option encryption 'none'
	option macfilter 'deny'
	option multissid '1'
	option mld 'mld0'
	option disabled '1'

config wifi-device 'radio1'
	option type 'qcawificfg80211'
	option phy 'wifi1'
	option dbdc_enable '0'
	option delay_stavapup '0'
	option hwmodes '11anacaxbe'
	option ht160 '1'
	option ht240 '1'
	option txpower '100'
	option htbw 'auto'
	option country 'DE'
	option hwmode '11anacaxbe'
	option channel 'auto'
	option no_vlan '1'
	option disabled '0'

config wifi-iface 'wlan10'
	option device 'radio1'
	option i18name '5G'
	option ifname 'ath1'
	option network 'lan'
	option mode 'ap'
	option mcastenhance '2'
	option macfilter 'deny'
	option wps_pbc '1'
	option rrm '1'
	option wnm '1'
	option encryption 'none'
	option ssid 'Cudy-R65-5G-9300'

config wifi-iface 'wlan11'
	option device 'radio1'
	option i18name '5G'
	option ifname 'ath11'
	option mode 'sta'
	option extap '1'
	option ssid 'Cudy-default-5G'
	option encryption 'none'
	option network 'wan'
	option mld 'mld1'
	option disabled '1'

config wifi-iface 'wlan12'
	option device 'radio1'
	option i18name '5G'
	option ifname 'ath12'
	option mode 'ap'
	option ssid 'Cudy-Guest-5G'
	option encryption 'none'
	option macfilter 'deny'
	option multissid '1'
	option network 'lan'
	option disabled '1'

config wifi-iface 'wlan13'
	option device 'radio1'
	option i18name '5G'
	option ifname 'ath13'
	option network 'lan'
	option mode 'ap'
	option addr4 '1'
	option encryption 'psk2'
	option macfilter 'deny'
	option multissid '1'
	option hidden '1'
	option ssid 'Cudy-default'
	option key '12345678'
	option mld 'mld2'

config wifi-iface 'wlan14'
	option device 'radio1'
	option i18name '5G'
	option ifname 'ath14'
	option network 'lan'
	option mode 'ap'
	option ssid 'Cudy-MLO'
	option encryption 'none'
	option macfilter 'deny'
	option multissid '1'
	option mld 'mld0'
	option disabled '1'

config wifi-device 'radio2'
	option type 'qcawificfg80211'
	option phy 'wifi2'
	option dbdc_enable '0'
	option delay_stavapup '0'
	option hwmodes '11anacaxbe'
	option ht320 '1'
	option txpower '100'
	option htbw 'auto'
	option country 'DE'
	option hwmode '11anacaxbe'
	option channel 'auto'
	option band '3'
	option no_vlan '1'
	option acs_6g_only_psc '1'
	option disabled '0'

config wifi-iface 'wlan20'
	option device 'radio2'
	option i18name '6G'
	option ifname 'ath2'
	option network 'lan'
	option mode 'ap'
	option mcastenhance '2'
	option macfilter 'deny'
	option rrm '1'
	option wnm '1'
	option encryption 'owe'
	option ssid 'Cudy-R65-6G-9300'
	option en_6g_sec_comp '0'
	option mbss_tx_vdev '1'

config wifi-iface 'wlan21'
	option device 'radio2'
	option i18name '6G'
	option ifname 'ath21'
	option mode 'sta'
	option extap '1'
	option ssid 'Cudy-default-6G'
	option encryption 'owe'
	option network 'wan'
	option en_6g_sec_comp '0'
	option mld 'mld1'
	option disabled '1'

config wifi-iface 'wlan22'
	option device 'radio2'
	option i18name '6G'
	option ifname 'ath22'
	option mode 'ap'
	option ssid 'Cudy-Guest-6G'
	option encryption 'owe'
	option macfilter 'deny'
	option multissid '1'
	option network 'lan'
	option en_6g_sec_comp '0'
	option disabled '1'

config wifi-iface 'wlan23'
	option device 'radio2'
	option i18name '6G'
	option ifname 'ath23'
	option network 'lan'
	option mode 'ap'
	option addr4 '1'
	option encryption 'psk2'
	option macfilter 'deny'
	option multissid '1'
	option hidden '1'
	option ssid 'Cudy-default'
	option key '12345678'
	option en_6g_sec_comp '0'
	option mld 'mld2'
	option mbss_tx_vdev '1'

config wifi-iface 'wlan24'
	option device 'radio2'
	option i18name '6G'
	option ifname 'ath24'
	option network 'lan'
	option mode 'ap'
	option ssid 'Cudy-MLO'
	option encryption 'owe'
	option macfilter 'deny'
	option multissid '1'
	option mld 'mld0'
	option en_6g_sec_comp '0'
	option disabled '1'

config wifi-mld 'mld0'
	option i18name 'MLO'
	option mode 'ap'
	option ifname 'mld0'
	option network 'lan'
	option iface 'wlan04 wlan14 wlan24'
	option ssid 'Cudy-MLO'
	option encryption 'psk3'
	option disabled '1'

config wifi-mld 'mld1'
	option i18name 'MLO'
	option mode 'sta'
	option ifname 'mld1'
	option network 'wan'
	option iface 'wlan01 wlan11 wlan21'
	option ssid 'Cudy-MLO'
	option encryption 'psk3'
	option disabled '1'

config wifi-mld 'mld2'
	option i18name 'MLO'
	option mode 'ap'
	option ifname 'mld2'
	option network 'lan'
	option iface 'wlan03 wlan13 wlan23'
	option ssid 'Cudy-MLO'
	option encryption 'psk2'

config wds-list 'wds'
